doctype html
html(lang="en")
head
    meta(charset='utf-8')   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='')
    title Parallax Template
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='scripts/parallax.min.js')
     
  body
    #nav-main.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#/') Parallax Template
         
    .body-content
      .parallax-container(data-parallax='scroll', data-bleed='0', data-speed='0', data-image-src='img/photo-brendan-lynch-n-207.jpeg', data-natural-width='1680', data-natural-height='1050', style='height: 1050px;')
             
      .container
        .section
          h1 Section 1
          p.
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam facilisis vulputate elit ac tincidunt. Integer sed varius leo, eget semper massa. Mauris porttitor, lacus vitae commodo placerat, risus felis molestie nibh, sit amet tincidunt eros tortor ac augue. Sed aliquam tortor a orci facilisis pellentesque. Maecenas in ligula ac velit vulputate porta quis at justo. Vestibulum consectetur lacus vel dui tempus, a sollicitudin urna maximus. Sed iaculis iaculis enim at hendrerit. Fusce feugiat mauris turpis, non scelerisque justo pulvinar nec. Nulla sit amet nisi non purus maximus pulvinar. Pellentesque magna neque, auctor sit amet turpis sed, venenatis sollicitudin neque. Proin eu lacinia tellus. Maecenas ut fringilla justo. Nunc eget odio eu dui viverra mattis. Nam eget hendrerit nunc, eu sagittis tellus. Nulla sagittis nibh in tempus porttitor.
      .parallax-container(data-parallax='scroll', data-bleed='10', data-speed='0', data-image-src='img/photo-brendan-lynch-n-210.jpeg', data-natural-width='1680', data-natural-height='1050', style='height: 1050px;')
                         
      .container
        .section
          h1 Section 2
          p.
             Praesent in lacinia felis, vel ullamcorper diam. Quisque purus nibh, mollis et dui vitae, pretium euismod purus. Curabitur felis sem, semper vel est quis, pharetra consequat lectus. Nullam a fringilla nibh. Praesent mollis pretium quam nec sodales. Aenean quis sodales orci. Phasellus semper odio vitae nulla feugiat porta. Mauris ullamcorper arcu at mauris finibus tempus. In purus magna, finibus quis viverra sed, interdum et urna. Morbi mi nisl, eleifend sit amet urna in, molestie dictum orci. Sed quis auctor tellus. Cras fringilla consectetur risus, sit amet consectetur urna posuere ut. Etiam quis odio id mauris iaculis congue sit amet vel leo. Duis rutrum tellus semper turpis fermentum euismod. Sed libero sem, consequat vitae lorem luctus, feugiat blandit neque.
          p.
             Cras nisl justo, congue vitae nisl id, scelerisque consequat ex. Sed elementum, libero lobortis venenatis pellentesque, nisi leo sodales sapien, eu vulputate mi odio sit amet eros. Donec nec tellus purus. Etiam elementum ligula non venenatis blandit. Phasellus luctus accumsan augue lacinia consectetur. Duis placerat ipsum ligula, ac mattis mauris elementum vitae. Praesent gravida lorem ut pellentesque cursus. Nunc in purus ultrices, fringilla libero sed, dictum sem. Integer facilisis tellus eget est maximus egestas. In justo dui, fringilla eget odio nec, imperdiet ornare felis. Suspendisse tempus ornare odio, ac ornare justo dapibus congue. Morbi consequat massa velit, bibendum tincidunt risus euismod ac. Mauris faucibus ullamcorper consectetur. Maecenas a pretium libero.
      .parallax-container(data-parallax='scroll', data-bleed='10', data-speed='0', data-image-src='img/photo-by-elizabeth-lies-n-320.jpeg', data-natural-width='1680', data-natural-height='1050', style='height: 1050px;')
             
      .container
        .section
          h1 Section 3
          p.
             Aliquam erat volutpat. Morbi ultrices facilisis ante, vitae iaculis diam vestibulum sed. Curabitur ut ipsum quis nibh lacinia condimentum sit amet sed arcu. Suspendisse vitae neque massa. Nunc nisl augue, cursus ac feugiat pretium, sollicitudin quis augue. Donec aliquam efficitur enim, vel bibendum quam volutpat a. Vivamus mollis mi sit amet urna aliquam, faucibus dignissim dui consequat. Duis pellentesque, dui at posuere ultrices, neque mauris ornare enim, quis cursus arcu orci in eros. Curabitur egestas erat non risus elementum, id accumsan diam tincidunt. Sed placerat massa in fermentum bibendum. Cras sit amet faucibus nisl. Duis faucibus vitae metus ac efficitur. Nullam aliquet placerat lectus sit amet varius. Nullam ut mollis ante. Etiam nec nisi a ex tristique suscipit at eget lacus.
      .footer
        .container
          div
            span.copyright
              |&copy; 2015 [Name] 
              a(href='mailto:#') Contact
